@font-face {
	font-family: 'AnigmaScrawl';
	src: url('aescrawl.eot');
	src: local('AEnigmaScrawl4BRK'), url('aescrawl.woff') format('woff'), url('aescrawl.ttf') format('truetype'), url('aescrawl.svg#AEnigmaScrawl4BRK') format('svg');
}
body, html {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #333028;
}
p {
  margin: 10px 25px;
}
.code, #source {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}
body, #source {
  color: #fff4ef;
}

h1 {
  font-family: AnigmaScrawl;
  font-size: 38px;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  color: #4af;
  padding: 0;
  margin: 15px 0 10px 0;
}
h2 {
  font-family: AnigmaScrawl;
  font-size: 26px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  color: #fa4;
  padding: 0;
  margin: 0;
}

label {
  display: block;
  font-size: 36px;
}

.code, #source {
  font-size: 16px;
  position: absolute;
  border: 0;
  border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
}
.code {
  box-shadow:0 0 20px #4af;
  -webkit-box-shadow:0 0 20px #4af;
  -moz-box-shadow:0 0 20px #44aaff;
  top: 150px;
  bottom: 20px;
  padding: 10px;
  white-space: pre;
  margin: 0;
}
#source {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  resize: none;
  background-color: #222;
}

#source_wrapper {
  left: 20px;
  right: 52%;
  padding: 0;
}
#output {
  right: 20px;
  left: 52%;
  background-color: #222;
}

.scroll {
  overflow: auto;
}

.scroll::-webkit-scrollbar {
   -webkit-border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb {
  background: #fa4;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 0 5px #fa4;
}
#nav {
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 0;
  line-height: 1.5em;
  padding: 0;
}
p a, p a:link p a:active p a:visited {
  color: #29f;
  text-decoration: none;
}
p a:hover {
  color: #5af;
  text-decoration: underline;
}

#nav a, #nav a:link #nav a:active #nac a:visited {
  font-family: AnigmaScrawl;
  display: block;
  text-decoration: none;
  color: #888;
  text-align: right;
}
#nav a:hover {
  text-decoration: underline;
  color: #4af;
}
#status {
  display: none;
  position: absolute;
  right: 25%;
  margin-right: -100px;
  top: 100px;
  background-color: #333;
  color: #4f4;
  font-weight: bold;
  font-family: monaco, sans-serif;
  size: 14px;
  line-height: 1em;
  padding: 8px 10px;
  box-shadow:0 0 20px #4f4;
  -webkit-box-shadow:0 0 20px #4f4;
  -moz-box-shadow:0 0 20px #44ff44;
  border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
}