<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Jack</string>
	<key>uuid</key>
	<string>CD464DB4-46C6-4631-9838-54B43C925D83</string>
</dict>
</plist>
